de.lucaswerkmeister.corebird.gschema.xml
de.lucaswerkmeister.corebird.desktop.in
de.lucaswerkmeister.corebird.desktop
de.lucaswerkmeister.corebird.gschema.valid
de.lucaswerkmeister.corebird.appdata.xml
de.lucaswerkmeister.corebird.service
