de.lucaswerkmeister.nextbird.gschema.xml
de.lucaswerkmeister.nextbird.desktop.in
de.lucaswerkmeister.nextbird.desktop
de.lucaswerkmeister.nextbird.gschema.valid
de.lucaswerkmeister.nextbird.appdata.xml
de.lucaswerkmeister.nextbird.service
